<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mypet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".adapter.PetPostAdapter"/>
        <activity android:name=".fragment.DeletePostFragment" />
        <activity android:name=".adapter.EnjoyAdapter" />
        <activity android:name=".activity.ListLikesActivity" />
        <activity android:name=".activity.NewCommentActivity" />
        <activity android:name=".adapter.CommentAdapter" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".fragment.EditProfileFragment" />
        <activity android:name=".fragment.ProfileFragment" />
        <activity android:name=".fragment.MenuFragment" />
        <activity android:name=".fragmentprofile.ProfileFragment" />
        <activity android:name=".fragmentprofile.PetProfile" />
        <activity android:name=".activity.NewPostActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.EditHumanUserActivity" />
        <activity android:name=".activity.AddPetActivity" />
        <activity android:name=".activity.TimelineActivity" />
        <activity android:name=".activity.PetLoginActivity" />
        <activity android:name=".activity.UserLoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>